:root {
  --bg: #202c41;
  --initial: linear-gradient(90deg, #40e0d0, #ff8c00, #ff0080);
  --side: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  gap: 200px;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
}

.menu {
  animation: show 1.5s ease-in-out;
  align-items: center;
  display: flex;
  height: 600px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 340px;
  opacity: 1;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.box {
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  height: 150px;
  width: 150px;
  transition-duration: 0.5s;
}

.box:hover {
  transform: scale(1.2);
}

.box[color='green'] {
  background: #73edae;
}
.box[color='purple'] {
  background: #a473ed;
}
.box[color='red'] {
  background: #ed7373;
}
.box[color='yellow'] {
  background: #ede973;
}
.box[color='blue'] {
  background: #89c5f5;
}
.box[color='pink'] {
  background: #ed73d7;
}

.cube {
  animation: animate 5s 2.5s linear infinite;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  width: 300px;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
}

.side {
  animation: Bg 15s ease infinite;
  background-size: 400% 400%;
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  width: 100%;
}

.side[color='green'] {
  background: linear-gradient(#abf4ce, #73edae);
}
.side[color='purple'] {
  background: linear-gradient(#7707ff, #a473ed);
}
.side[color='red'] {
  background: linear-gradient(#ff075a, #ed7373);
}
.side[color='yellow'] {
  background: linear-gradient(#f3ff07, #e7ed73);
}
.side[color='blue'] {
  background: linear-gradient(#7397ed, #89c5f5);
}
.side[color='pink'] {
  background: linear-gradient(#ee36b7, #ed73d7);
}

.up {
  animation: Bg 15s ease infinite;
  background-size: 400% 400%;
  background: var(--initial);
  height: 300px;
  left: 0;
  position: absolute;
  transform: translateZ(70px);
  transition: background-color 0.7s ease-in-out;
  top: 0;
  width: 300px;
}

.up[color='green'] {
  background: #abf4ce;
}
.up[color='purple'] {
  background: #7707ff;
}
.up[color='red'] {
  background: #ff075a;
}
.up[color='yellow'] {
  background: #f3ff07;
}
.up[color='blue'] {
  background: #7397ed;
}
.up[color='pink'] {
  background: #ee36b7;
}

.top {
  animation: Bg 15s ease infinite;
  background-size: 400% 400%;
  background: var(--initial);
  height: 300px;
  left: 0;
  transform: rotateX(90deg) translateZ(150px);
  top: 0;
  position: absolute;
  width: 300px;
  transition: background-color 0.3s ease-in-out;
}

.top[color='green'] {
  background: #1f804e;
}
.top[color='purple'] {
  background: #4b1f80;
}
.top[color='red'] {
  background: #801f1f;
}
.top[color='yellow'] {
  background: #80801f;
}
.top[color='blue'] {
  background: #1f4f80;
}
.top[color='pink'] {
  background: #801f70;
}

@keyframes Bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.below {
  animation: Bg 15s ease infinite;
  background-size: 400% 400%;
  background: var(--initial);
  filter: blur(20px);
  height: 300px;
  left: 0;
  position: absolute;
  transform: translateZ(-400px);
  transition: background 20s ease-in-out;
  top: 0;
  width: 300px;
  transition: background-color 0.8s ease-in-out;
}

.below[color='green'] {
  background: #73edae;
}
.below[color='purple'] {
  background: #a473ed;
}
.below[color='red'] {
  background: #ed7373;
}
.below[color='yellow'] {
  background: #ede973;
}
.below[color='blue'] {
  background: #89c5f5;
}
.below[color='pink'] {
  background: #ed73d7;
}

@media screen and (max-width: 1024px) {
  body {
    min-height: 0vh;
    margin-bottom: 200px;
  }
  .menu {
    height: 350px;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0rem;
  }

  .box {
    border-radius: 20px;
    height: 150px;
    width: 150px;
  }

  .cube,
  .top {
    height: 400px;
    width: 400px;
  }

  .side {
    transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
  }

  .top {
    transform: rotateX(90deg) translateZ(200px);
  }
  .up {
    width: 400px;
    height: 400px;
    transform: translateZ(100px);
  }

  .below {
    transform: translateZ(-500px);
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  body {
    min-height: 0vh;
    gap: 0px;
  }
  .menu {
    gap: 10px;
    height: 250px;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .box {
    border-radius: 20px;
    height: 80px;
    width: 80px;
  }

  .cube {
    margin-top: 8rem;
  }

  .cube,
  .top {
    height: 200px;
    width: 200px;
  }

  .side {
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  }

  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .up {
    width: 400px;
    height: 400px;
    transform: translateZ(50px);
  }

  .below {
    transform: translateZ(-300px);
    height: 400px;
    width: 400px;
  }
}
